/* News */
.news {
    &list {
        &__item {
            position: relative;
            width: 100%;
            background-color: $transparent-background;
            border: 1px solid $transparent-border;
            border-radius: 16px;
            backdrop-filter: blur(15px);
            padding: 2em 1.75em;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.2);
            overflow: hidden;

            // TODO: Replace with -gradient class
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: inherit;
                background-image: $gradient-default;
                z-index: -1;
                opacity: 0;

                transition: opacity 0.4s ease-in-out;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }

                .newslist__item {
                    &__link {
                        &--icon {
                            transform: translateX(0.5em);
                            transition-delay: 0.2s;
                        }
                    }

                    &__cover {
                        transform: translateY(2.5em);
                    }
                }
            }

            &__title {
                padding-right: 1em;

                &--row {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &__link {
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                }

                &--icon {
                    height: calc(1.5em * #{$line-height});
                    width: 1.3333em;

                    transition: transform 0.25s ease-in-out;
                }
            }

            &__cover {
                max-width: 90%;
                height: auto;
                margin: 0 auto;
                margin-top: -2em;
                transform: translateY(3.5em);

                transition: transform 0.25s ease-in-out;
            }

            // TODO: Add missing image fallback
        }
    }

    &detail {
        &__container {
            width: 90%;
            margin: 0 auto;

            // TODO: Replace with -gradient class
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: $gradient-default-fade;
                opacity: 0.4;
                z-index: -1;
            }

            > section {
                padding-top: 5.5555em;
            }

            // Table styling
            table {
                text-align: left;
                margin: 0 $grid-gap/-2;

                th, td {
                    font-weight: $font-weight-normal;
                    vertical-align: top;
                    width: 50%;
                    padding: 0 $grid-gap/2;
                }
            }
        }

        &__backlink {
            display: flex;
            align-items: center;
            background-color: $transparent-background;
            border: 1px solid $transparent-border;
            backdrop-filter: blur(15px);
            border-radius: 24px;
            padding: 0.5em 1em;
            color: $white;
            text-decoration: none;

            transition: .2s ease-in-out;

            &:hover {
                background-color: rgba($transparent-background, 0.08);
                border-color: rgba($transparent-border, 0.2);

                .newsdetail__backlink--icon {
                    translate: -0.25em;
                }
            }

            &--wrap {
                position: fixed;
                top: calc(#{$nav-height} + 1rem);
                left: calc((100% - #{$grid-max-width}) / 2);
            }

            &--icon {
                height: 0.7778em;
                width: auto;
                margin-right: 0.5em;
                transform: rotate(180deg);

                transition: translate .2s ease-in-out;
            }
        }

        &__navigation {
            position: fixed;
            top: calc(#{$nav-height} + 1rem);
            right: calc((100% - #{$grid-max-width}) / 2);
            font-size: 0.7777em;

            &__title {
                color: $white-secondary;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }

            &__list {
                list-style: none;
                padding: 0;
                padding-top: 1em;
                color: $white-disabled;
            }

            &__item {
                padding: 1em 0;
            }

            &__link {
                text-decoration: none;
                color: inherit;

                transition: color .2s ease;

                &:hover, &:focus, &--active {
                    color: $white;
                }
            }
        }

        &__header {
            &__media {
                width: 100%;
                height: auto;
            }
        }

        &__title {
            margin-bottom: 0;
        }

        &__subtitle {
            text-align: center;
            color: $white-secondary;
        }

        &__highlights {
            width: 100%;
            background-color: $transparent-background-dark;
            border: 1px solid $transparent-border;
            border-radius: 24px;
            backdrop-filter: blur(15px);
            padding: 2.5em 1.5em;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.2);
            overflow: hidden;

            &__media {
                width: 100%;
                height: auto;
                border-radius: inherit;

                &__container {
                    + .newsdetail__highlights__media__container {
                        margin-top: 2.5em;
                    }
                }

                &__figure {
                    border: 2px solid $transparent-border;
                    border-radius: 16px;
                }
            }
        }

        &__media {
            &__caption {
                text-align: right;
                font-size: 0.6666em;
                margin-top: 1.5em;

                &--number {
                    color: $white;
                    font-weight: $font-weight-bold;
                    padding-right: 0.25em;
                }

                &--type {
                    font-size: 0.9166em;
                    border-radius: 30px;
                    padding: 0.5em 1em;
                    background-color: $transparent-background;
                    font-family: $font-family-code;
                    text-transform: uppercase;
                    margin-left: 1em;
                }
            }
        }

        &__content-elements__section {
            > .frame + .frame {
                > header {
                    padding-top: 5.5555em;
                }

                > .ce-textpic {
                    padding-top: 2.5em;
                }

                > header + .ce-textpic {
                    padding-top: 0;
                }
            }

            .ce-gallery {
                margin-top: 2.5em;

                .image, .video {
                    img, video {
                        width: 100%;
                        height: auto;
                        border-radius: 16px;
                        border: 2px solid $transparent-border;
                    }

                    figcaption {
                        text-align: right;
                        font-size: 0.6666em;
                        margin-top: 1.5em;
                    }
                }

                .ce-row + .ce-row, .ce-column + .ce-column {
                    margin-top: 2.5em;
                }
            }
        }
    }
}
