/* Fonts */
$fonts: 'https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap',
        'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap',
        'https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap',
        'https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap';

/* Colors */
$transparent-background: #f2f2f20d;
$transparent-background-dark: #0000000d;
$transparent-border: #f2f2f21a;

$black: #1D1D1F;
$white: #F5F5F7;
$gray: #808080;
$gray-medium: #AFAFAF;
$gray-bright: #E3E3E3;
$red: #9c2b2e;

$white-secondary: adjust-color($white, $alpha: -0.4);
$white-disabled: adjust-color($white, $alpha: -0.62);

$primary: $white;

$main-background: $black;
$error-color: $red;

/* Gradients */
$gradient-default: radial-gradient(circle at 50% 0, #ffffff4d, #0000);
$gradient-default-fade: radial-gradient(circle at 50% 0, #ffffff4d, #0000 80%, $main-background);
$gradient-blue: radial-gradient(circle at 50% 0, #2a454b, #0000 80%), radial-gradient(circle at 50% 0, #08203e, #0000);
$gradient-blue-fade: radial-gradient(circle at 50% 0, #2a454b, #0000 80%), radial-gradient(circle at 50% 0, #08203e, #0000 80%, $main-background);
$gradient-purple: radial-gradient(circle at 50% 0, #5e435d, #0000 80%), radial-gradient(circle at 50% 0, #08203e, #0000);
$gradient-purple-fade: radial-gradient(circle at 50% 0, #5e435d, #0000 80%), radial-gradient(circle at 50% 0, #08203e, #0000 80%, $main-background);
$gradient-taupe: radial-gradient(circle at 50% 0, #9b8074, #0000 80%), radial-gradient(circle at 50% 0, #1f140d, #0000);
$gradient-taupe-fade: radial-gradient(circle at 50% 0, #9b8074, #0000 80%), radial-gradient(circle at 50% 0, #1f140d, #0000 80%, $main-background);

/* Background colors */
$background-colors: ('black', $black), ('gray', $gray-bright);
$background-gradients: ('blue', $gradient-blue), ('purple', $gradient-purple), ('taupe', $gradient-taupe);

/* Font styles */
$font-family: 'Source Sans 3', sans-serif;
$font-family-headings: 'Open Sans', sans-serif;
$font-family-highlight: 'Bitter', serif;
$font-family-code: 'JetBrains Mono', monospace;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size: 18px;
$line-height: 1.5;
$font-color: $white-secondary;

/* Grid */
$grid-max-width: 1400px;
$grid-max-width-smaller: 1160px;
$grid-gap: 40px;

$break-point-xxl: 1400px;
$break-point-xl:  1200px;
$break-point-lg:   992px;
$break-point-md:   786px;
$break-point-sm:   567px;

$nav-height: 7rem !default;

/* Responsive */
$font-size-tablet: 19px;
$font-size-mobile: 18px;

/* Z-Index Scale */
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

/* Z-Index Application */
// Add more if needed
$zIndex-1--foreground:  $zIndex-1;
$zIndex-1--burger:      $zIndex-1;

$zIndex-2--burger-bar:  $zIndex-2;
$zIndex-2--meta:        $zIndex-2;

$zIndex-7--nav:         $zIndex-7;

$zIndex-9--overlay:     $zIndex-9;
$zIndex-9--tooltip:     $zIndex-9;

$zIndex-10--dev:       $zIndex-10;
