/* Fonts */
$fonts: 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap',
        'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap',
        'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap';

/* Colors */
$black: #1D1D1F;
$white: #F5F5F7;
$gray: #808080;
$gray-medium: #AFAFAF;
$gray-bright: #E3E3E3;

$primary: #E65F78;

$main-background: $white;
$error-color: $primary;

/* Background colors */
$background-colors: ('black', $black), ('gray', $gray-bright);

/* Font styles */
$font-family: 'Mulish', sans-serif;
$font-family-heading-1: 'Montserrat', sans-serif;
$font-family-headings: 'Poppins', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size: 20px;
$line-height: 1.5;
$font-color: $black;

/* Grid */
$grid-max-width: 1400px;
$grid-max-width-smaller: 1160px;
$grid-gap: 40px;

$break-point-xxl: 1400px;
$break-point-xl:  1200px;
$break-point-lg:   992px;
$break-point-md:   786px;
$break-point-sm:   567px;

$nav-height: 7em !default;

/* Responsive */
$font-size-tablet: 19px;
$font-size-mobile: 18px;

/* Z-Index Scale */
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

/* Z-Index Application */
// Add more if needed
$zIndex-1--foreground:  $zIndex-1;
$zIndex-1--burger:      $zIndex-1;

$zIndex-2--burger-bar:  $zIndex-2;
$zIndex-2--meta:        $zIndex-2;

$zIndex-7--nav:         $zIndex-7;

$zIndex-9--overlay:     $zIndex-9;
$zIndex-9--tooltip:     $zIndex-9;

$zIndex-10--dev:       $zIndex-10;
